body{
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
}
.container{
    border: solid;
    color: white;
    background-color: white;
    width: 500px;
    height: 500px;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 50px;
}
.slidervalue{
    text-align: center;
}
.slider{
    -webkit-appearance: none;
    border-radius: 20px;
    width: 150px;
    height: 10px;
    opacity: 0.8;
}
button{
    background-color: rgb(224, 224, 224);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
    border-radius: 5px;
}
.color{
    visibility: hidden;
}
.colorcontainer{
    width: 75px;
    height: 75px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 5px 5px 20px gray
}